@model Sitecore.Demo.Feature.JobBoard.Models.UserViewModel

<div class="userBox">
    <div class="userProfileBox">
        <div class="userProfileImg">
            <img src="https://tse1.mm.bing.net/th?id=OIP.JE95-LvOzm63nEEU_8-RJAHaEe&pid=Api&P=0&h=220" alt="profileImg" />
        </div>
        <div class="userProfileInfo">
            <h1>User Info:</h1>
            <h3>Name:"@Model.Name "</h3>
            <h3>Phone no:"@Model.PhoneNo"</h3>
            <h4>Email:@Model.Email</h4>
            <h4>Address:@Model.Address</h4>
        </div>

    </div>
</div>


